import "./zmodel/wp-original"
import "./zmodel/wp-enhance"
import "./zmodel/custom"

generator client {
  provider = "prisma-client-js"
}

generator dbml {
  provider = "prisma-dbml-generator"
}

datasource db {
  provider = "mysql"
  url      = env("DATABASE_URL")
}

plugin openapi {
  provider = "@zenstackhq/openapi"
  output = "public/openapi.yaml"
  title = "API specs"
  version = "1.0.0"
  prefix = "/api/model"
}
